# \begin ... \end block
snippet begin
	\begin{${1:}}
		${0}
	\end{$1}

# sum
snippet sum
	\sum_{${1}}^{${2}} ${0}

# prod
snippet prod
	\prod_{${1}}^{${2}} ${0}

# emph{i.e.}
snippet ie
	\emph{i.e.} ${0}

# emph{e.g.}
snippet eg
	\emph{e.g.} ${0}

